.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 126px;
    width: 146px;
}

.grid div {
    height: 20px;
    width: 20px;
}

.player-one {
    background-color: red;
    border-radius: 10px;
    height: 19px;
    width: 19px;
}

.player-two {
    background-color: blue;
    border-radius: 10px;
    height: 19px;
    width: 19px;
}

.square-both-border {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.square-bottom-border {
    border-bottom: 1px solid black;
}

.square-right-border {
    border-right: 1px solid black;
}